body, html {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 1.8em;
  color: #666;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  text-align: center;
}

#mynavbar {
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  margin-top: 20;
  padding-top: 75px;
  padding-right: 45px;
  font-size: 26px;
  z-index: 10;
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 2px;
}

.mylogo{
  position: fixed;
  display: block;
  left: 45px;
  top: 30px;
  width: 185px;
  z-index: 20;
}

#linkref {
  color: rgb(255,255,255);
  text-decoration: none;
  padding: 15px;
  text-align: center;
  z-index: 15;
}

#work {
  height: auto;
  width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcomebackground {
  height: auto;
  width: 100%;
  margin-bottom: 0px;
  margin: 0 auto;
  box-shadow: 0px 6px 20px #888888;
}

.titleimage{
  height: auto;
  width: 100%;
}

.intro h1 {
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 1px;
  color: #2b2b2b;
  font-size: 3.5vw;
  text-align: center;
  margin-top: 0px;
}

.intro p {
  font-family: "Raleway";
  color: #9e9e9e;
  font-weight:300;
  font-size: 2.3vw;
  text-align: center;
}

.Part1, .Part2, .Part3, .Part4, .Part5, .Part6, .Part7 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.Part1 {
  background-image:url("../images/Part1-IMG.jpg");
  min-height: 400px;
}

.Part2 {
  background-image:url("../images/Part2-IMG.jpg");
  min-height: 400px;
}

img.wireframes {
  position: relative;
	max-width: 60%;
  width: 650px;
  margin:0 auto;
  margin-bottom: 30px;
}

.Part3 {
  background-image:url("../images/Part3-IMG.jpg");
  min-height: 400px;
}

img.competition {
  position: relative;
	max-width: 80%;
	margin:0 auto;
  margin-top: 30px;
}

.Part4 {
  background-image:url("../images/Part4-IMG.jpg");
  min-height: 400px;
}

.Part5 {
  background-image:url("../images/Part5-IMG.jpg");
  min-height: 400px;
}

.Part6 {
  background-image:url("../images/Part6-IMG.jpg");
  min-height: 400px;
}

.Part7 {
  background-image:url("../images/Part7-IMG.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding:50px 80px;
  color:#666
}

.section h3 {
  font-size: 2vw;
  color: #2b2b2b;
}

.ptext h2 {
  position: absolute;
  top:40%;
  width:100%;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 3vw;
  letter-spacing: 5px;
}

@media(max-width:568px) {
  .Part1, .Part2, .Part3, .Part4, .Part5, .Part6, .Part7 {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 730px) {

 h1{
  font-size: 5vw;
    }

 h3 {
  font-size: 1.6vw;
 }

 #mynavbar {
   font-size: 1.81vw;
 }

 p {
   font-size: 1.11vw;
 }

 .mylogo {
   max-width: 20%;
 }

 img.wireframes { max-width: 90%;
 }
}
