html{
  padding: 0;
  height: 100%;
}
body {
  font-family: "Montserrat"
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}

.intro h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #2b2b2b;
  font-size: 13.75vw;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 0;
}

.intro p {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 1.75vw;
  text-align: center;
  margin-bottom: 140px;
}

.firstsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
}

.firstsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.firstsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.firstsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.firstsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.secondsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.secondsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.secondsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.secondsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.secondsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.thirdsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.thirdsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.thirdsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.thirdsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.thirdsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.fourthsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.fourthsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.fourthsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.fourthsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.fourthsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.fifthsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.fifthsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.fifthsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.fifthsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.fifthsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.sixthsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.sixthsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.sixthsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.sixthsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.sixthsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}


.seventhsectionimage {
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.seventhsectiontext {
  width: 80%;
  height: 65%;
  margin: auto;
  overflow: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 40px; right: 0;
  text-align: center;

}

.seventhsectiontext h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
  font-size: 4vw;
}

.seventhsectiontext h2 {
  font-family: "Montserrat";
  color: #ff9904;
  font-size: 3vw;
  margin-top: -8px;
}

.seventhsectiontext h3 {
  font-family: "Open Sans";
  color: #04e8ff;
  font-size: 2.8vw;
}

 body p {
  font-size:1.68vw;
  color:#2b2b2b;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Open Sans";
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

body h3 {
  font-size: 2.78vw;
  color:#2b2b2b;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}


.bg {
  height: auto;
  width: 100%;
  margin-bottom: 0px;

}

.logo {
  background-image: url("adrianmichaeldickey_uxdesigner_logo.png");
  position: fixed;
  left: 45px;
  top: 38px;
  width: 202px;
  height: 143px;
  z-index: 100;
}

#navbar {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  margin-top: 20;
  padding-top: 75px;
  padding-right: 45px;
  font-size: 26px;
  font-weight: bold;
  z-index: 100;
  font-family: "Montserrat"

}

#linkref {
  color: rgb(255,255,255);
  text-decoration: none;
  padding: 15px;
  text-align: center;
  z-index: 20;
}

#work {
  height: auto;
  width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto
}




.newlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 200px;
}


.png-over1 {
  width: 275px;
  max-width: 25%;
  margin:0 auto;

}


}

.Wireframeset {
  position: relative;
  background-image: url("Wireframeset.png");
  background-position: center;
  background-repeat:no-repeat;
  width: 700px;
  display: table;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  margin-top: 100px;

}

.Wireframeset-text p {
  margin: 0px auto;

}


@media only screen and (max-width: 730px) {

 h1{
  font-size: 5vw;
    }

 h3 {
  font-size: 1.6vw;
 }

 #navbar {
   font-size: 1.81vw;
 }

 p {
   font-size: 1.11vw;
 }

}
